<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="TradingJournalAppSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<TradingJournalAppSettings>
		<add key="ApplicationName" value="Configuration Example Project"/>
		<add key="Language" value="CSharp"/>
		<add key="SecretKey" value="012345"/>
	</TradingJournalAppSettings>
	
</configuration>